{%extends "registration/base.html"%}
{% load bootstrap4 %}
{% load static %}
{% block content %}
  <div class="login-clean">
    <form action="/accounts/login/" method="post">
      <div class="illustration"><img src="/static/img/home-logo.png"></div>
      {%csrf_token%}
      {% for field in form %}
        <div class='fieldWrapper'>
          <h5 style='text-align:center;font-family"Roboto", sans-serif;font-size:14px;'>{{field.label}}</h5>

          <p style='width:100%;text-align:center;'>{{field}}</p>
        </div>
        {% for error in field.errors %}
          <p style="color: red">{{ error }}</p>
        {% endfor %}
      {% endfor %}
      {% if user.is_authenticated%}
        <input type='hidden' name='next' value='/'>
        {%endif%}
        <a href="/accounts/register/" class="forgot">Dont have an account? sign up here ...</a>

        <input type="submit" class="btn btn-primary btn-sm" value=' Login ' style='text-align:center;font-family"Roboto", sans-serif;font-size:14px;width:100%;margin-top:20px;'>

      </form>

    </div>

  {% endblock %}